.cat {
  width: 40px;
  height: 40px;
  object-position: contain;
  object-position: center;
  border-radius: 100px;
  vertical-align: middle;
}
.placeholder {
  border: none;
  vertical-align: middle;
}
.tweet-button {
  font-size: 12px;
  color: white;
  border: none;
  background-color: rgb(119, 163, 239);
  border-radius: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
