input {
  display: block;
  width: 300px;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  border: none;
  border-color: rgb(240, 240, 240);
  background-color: rgb(240, 240, 240);
}
.pickup {
  margin-bottom: 5px;
}
.destination {
  margin-bottom: 25px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

button {
  border: none;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 17px;
  padding-left: 17px;
}

.request-button {
  margin-right: 10px;
  background-color: black;
  color: white;
}
